@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap");
@import "reset.css";
@import "variables.css";

.hidden {
  display: none !important;
}

body {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px 15px;
  box-sizing: border-box;
}

#weather,
.login-todo__container,
.date-time__container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  transform: translateX(25px);
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  margin-top: var(--margin-top__50px);
  padding: var(--padding-normal);
  font-size: var(--font-size__R);
  color: var(--font-color__def);
  font-weight: bold;
}
#weather span {
  margin-bottom: 5px;
}

.login-todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--margin-top__100px);
  padding: var(--padding-normal);
  font-size: var(--font-size__L);
  color: var(--font-color__def);
  max-width: 400px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-btn__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}

#login-form h3 {
  font-size: var(--font-size__L);
  width: 100%;
}

#login-form input {
  width: 200px;
  height: 20px;
  font-size: var(--font-size__R);
  color: whitesmoke;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid antiquewhite;
}

#login-form input::placeholder {
  font-size: var(--font-size__S);
  color: antiquewhite;
  text-align: center;
}

#login-form button {
  color: var(--font-color__def);
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

#greeting {
  font-weight: lighter;
  font-size: 50px;
  white-space: nowrap;
}

.todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--margin-top__50px);
  font-size: var(--font-size__R);
}

#todo-form input {
  font-size: var(--font-size__S);
  color: var(--font-color__def);
  width: 600px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid antiquewhite;
}

#todo-form input::placeholder {
  color: antiquewhite;
  text-align: center;
  font-size: var(--font-size__R);
}

#todo-list {
  margin-top: var(--margin-top__50px);
  height: 300px;
  width: 600px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  white-space: nowrap;
  text-align: left;
  overflow-y: auto; //*리스트 스크롤 *//
}

#todo-list li {
  padding: var(--padding-small);
}

.date-time__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: var(--margin-top__50px);
  padding: var(--padding-normal);
  font-size: var(--font-size__R);
  color: var(--font-color__def);
  transform: translateX(-70px);
  font-weight: bold;
}

.date-time__container h2 {
  margin-bottom: 15px;
  height: 20px;
  font-size: var(--font-size__R2);
}

.date-time__container h3 {
  white-space: nowrap;
  margin-top: 10px;
}

#quote {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size__S);
  color: var(--font-color__def);
}

#quote span:first-child {
  text-align: center;
  white-space: nowrap;
}

#quote span:last-child {
  padding: 20px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.opcity-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
